{{! <nav class='light-blue lighten-1'>
  <div class='nav-wrapper'>
    <a href='#!' class='brand-logo center'>Harmony Dog</a>
    <a
      href='#'
      data-target='mobile-demo'
      class='sidenav-trigger show-on-large'
    ><i class='fas fa-bars'></i></a>
    <ul class='sidenav' id='mobile-demo'>
      <li><a href='/observations'>Login/Logout</a></li>
      <li><a href='/dashboard'>Register</a></li>
      <li><a href='/auth/logout'>Member Dashboard</a></li>
    </ul>
  </div>
</nav> }}

<nav class='light-blue lighten-1'>
  <div class='nav-wrapper'>
    <div class='container'>
      <a href='#!' class='brand-logo'><img
          class='logo_image'
          src='/images/harmony_Logo_trimmed.png'
        /><span class='logo_text'>Harmony Dog</span>
      </a>
      <a href='#' data-target='mobile-demo' class='right sidenav-trigger'><i
          class='material-icons'
        >Menu</i></a>
      <ul class='right hide-on-med-and-down'>
        {{#if passUser}}
          <li><a href='logout'>Logout</a></li>
        {{else}}
          <li><a href='register'>Register</a></li>
          <li><a href='login'>Login</a></li>
        {{/if}}
        <li><a href='collapsible.html'>Services</a></li>
        <li><a href='mobile.html'>About</a></li>
      </ul>
    </div>
  </div>
</nav>

<ul class='sidenav' id='mobile-demo'>
  <li><a href='register'>Register</a></li>
  {{#if passUser}}
    <li><a href='logout'>Logout</a></li>
  {{else}}
    <li><a href='login'>Login</a></li>
  {{/if}}
  <li><a href='collapsible.html'>Services</a></li>
  <li><a href='mobile.html'>About</a></li>
</ul>