<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="d-flex flex-column h-100">
    <header><%- include('partials/header') %></header>
    <main class="container-fluid">
      <h1 class="mt-2 mb-4 ml-5">About Harmony Dog Training</h1>
      <div class="container">
        <div class="row">
          <h2 class="my-3">Who we are:</h2>
        </div>
        <div class="row">
          <div class="card col-5 mx-2">
            <img src="../images/alex.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Alex Saunders</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Excepturi molestiae temporibus esse velit ratione blanditiis
                quia aperiam mollitia, vitae neque laboriosam voluptates
                quisquam numquam ab cupiditate facilis soluta rem ad?
              </p>
              <footer class="text-muted">
                Alex: Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Nihil reprehenderit quaerat tempore, quod, ratione consequatur
                fuga,
              </footer>
            </div>
          </div>
          <div class="card col-5 mx-2">
            <img src="../images/alex.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Someone else</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Molestias, recusandae. Numquam exercitationem voluptates libero
                doloribus, qui quasi tempora incidunt nam unde in enim laborum
                saepe voluptas rerum! Quia, fugit? Corporis?
              </p>
              <footer class="text-muted">
                Alex: Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Natus voluptatibus doloremque nesciunt, iste error iure. Minima
                quos culpa facilis odit quasi, quis illum assumenda,
              </footer>
            </div>
          </div>
        </div>

        <h2 class="my-3">How we train:</h2>
        <div class="col-8 mb-4">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
            aperiam excepturi pariatur itaque obcaecati placeat, facilis
            explicabo vero error officiis similique nostrum. Cupiditate iure
            officiis dolore expedita cum necessitatibus porro. Lorem, ipsum
            dolor sit amet consectetur adipisicing elit. Voluptates numquam
            corporis necessitatibus cumque assumenda a quae fuga ab dolorem
            consequuntur magni quidem molestiae quam neque minima totam vitae,
            labore non.
          </p>
        </div>
      </div>
    </main>
    <footer class="footer light-blue mt-auto py-3">
      <%- include('partials/footer') %>
    </footer>
    <%- include('partials/scripts') %>
  </body>
</html>
