<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <header><%- include('partials/header') %></header>
    <main class="container">
      <h1>Welcome to Harmony Dog</h1>
    </main>
    <footer class="footer page-footer light-blue lighten-1">
      <%- include('partials/footer') %>
    </footer>
    <%- include('partials/scripts') %>
  </body>
</html>
