<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="d-flex flex-column h-100">
    <header><%- include('partials/header') %></header>
    <main class="container">
      <h1>New Dog Registration</h1>
      <!-- need enctype='multipart/form-data' to accept files and utilize multer middleware-->
      <div class="row justify-content-center">
        <form
          class="needs-validation"
          action="/dog/registerDog"
          enctype="multipart/form-data"
          method="POST"
        >
          <!-- add hidden form to include user.lastName in Dog schema -->
          <input type="hidden" name="lastName" value="req.user.lastName" />

          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              required
            />
          </div>
          <div class="form-check">
            <p class="mb-1">Gender:</p>
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              id="flexRadioDefault1"
              value="female"
              checked
            />
            <label class="form-check-label" for="flexRadioDefault1">
              Female
            </label>
          </div>
          <div class="form-check mb-3">
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              id="flexRadioDefault2"
              value="male"
            />
            <label class="form-check-label" for="flexRadioDefault2">
              Male
            </label>
          </div>

          <div class="mb-3">
            <label for="breed" class="form-label">Breed: best guess</label>
            <input
              type="text"
              class="form-control"
              id="breed"
              name="breed"
              required
            />
          </div>

          <div class="mb-3">
            <label for="age" class="form-label">Age: best guess</label>
            <input
              type="number"
              class="form-control"
              id="age"
              name="age"
              required
            />
          </div>

          <div class="mb-3">
            <label for="weight" class="form-label"
              >Estimated Weight (in lbs.)</label
            >
            <input
              type="number"
              class="form-control"
              id="weight"
              name="weight"
            />
          </div>

          <div class="mb-3">
            <h5>Notes</h5>
            <textarea id="notes" name="notes" cols="70" rows="5"></textarea>
          </div>

          <div class="mb-3">
            <h5>
              Image Upload - Please select a clear image that shows you dogs
              face clearly
            </h5>
            <input
              type="file"
              class="form-control"
              id="imageUpload"
              name="file"
              required
            />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">
              Please provide a valid file for upload.
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <a class="btn btn-danger" href="/profile">Cancel</a>
        </form>
      </div>
    </main>
    <footer class="footer light-blue mt-auto py-3">
      <%- include('partials/footer') %>
    </footer>
    <%- include('partials/scripts') %>
  </body>
</html>
