<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="d-flex flex-column h-100">
    <header><%- include('partials/header') %></header>
    <main class="container-fluid">
      <h1 class="mt-2 mb-4 ml-5">Harmony Dog Services</h1>
      <div class="container">
        <div class="row">
          <div class="col-10">
            <div class="card">
              <h3 class="card-header text-center">Puppy's First Steps</h3>
              <div class="card-body">
                <h5 class="card-title">
                  Everything a puppy needs to get started on the right feet
                </h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis
                  perferendis quidem, perspiciatis iusto aut ipsa pariatur et,
                  amet, necessitatibus ipsam officia quas dignissimos inventore.
                  Officia, nihil. Aspernatur nulla dolores aliquid. Officiis
                  facilis possimus sapiente asperiores deleniti assumenda
                  doloribus, error rerum eveniet molestias consequuntur,
                  blanditiis omnis ipsum nihil nam dicta libero consectetur sint
                  explicabo.
                </p>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">House Training</li>
                  <li class="list-group-item">The Kennel is a safe place</li>
                  <li class="list-group-item">Not everything is eatable</li>
                  <li class="list-group-item">
                    And yet one more thing to learn
                  </li>
                </ul>
              </div>
              <div class="card-footer text-muted text-center">
                <a href="#" class="btn btn-primary">Check availability</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer light-blue mt-auto py-3">
      <%- include('partials/footer') %>
    </footer>
    <%- include('partials/scripts') %>
  </body>
</html>
