body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.brand-logo {
  margin-left: 10px;
}
.logo_image {
  position: absolute;
  height: 60px;
  top: 50%;
  transform: translateY(-50%);
}
.logo_text {
  margin-left: 50px;
}
.title__welcome {
  font-size: 0.75em;
}
.class__link {
  font-size: 0.75em;
}
.footer {
  text-align: center;
}
