.brand-logo {
  margin: 0px 10px;
}
.logo_text {
  margin-left: 50px;
}
.light-blue {
  background-color: #29b6f6;
}
a.light-blue:hover,
a.light-blue:focus {
  background-color: #1c8dc2;
  color: white !important;
}
.title__welcome {
  font-size: 0.75em;
}
.carousel {
  width: 50vw;
}
.carousel-item {
  width: 50vw;
}
.carousel-inner > .carousel-item > img {
  width: 100%;
}
.carousel-caption {
  backdrop-filter: brightness(50%);
}
.badge {
  font-size: 0.75rem;
}
.class__link {
  font-size: 0.75em;
}
.footer {
  text-align: center;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}