<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body class="d-flex flex-column h-100">
    <header><%- include('../partials/header') %></header>
    <main class="container-fluid">
      <h1 class="mt-2 mb-4 ml-5">Harmony Dog Services</h1>
      <div class="container">
        <div class="row">
          <div class="col-10">
            <div class="card mb-3">
              <h3 class="card-header text-center">Classes</h3>
              <div class="card-body">
                <h5 class="card-title">
                  Packaged classes that combine common behaviors
                </h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis
                  perferendis quidem, perspiciatis iusto aut ipsa pariatur et,
                  amet, necessitatibus ipsam officia quas dignissimos inventore.
                  Officia, nihil. Aspernatur nulla dolores aliquid. Officiis
                  facilis possimus sapiente asperiores deleniti assumenda
                  doloribus, error rerum eveniet molestias consequuntur,
                  blanditiis omnis ipsum nihil nam dicta libero consectetur sint
                  explicabo.
                </p>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">1/2 hour primary consultation</li>
                  <li class="list-group-item">
                    4 hour long classes (once / week)
                  </li>
                  <li class="list-group-item">
                    Discounts on follow-up reviews or touch-ups to behavior
                  </li>
                  <li class="list-group-item">
                    Training steps and material available online
                  </li>
                </ul>
              </div>
              <div class="card-footer text-muted text-center">
                <a href="#" class="btn btn-primary disabled"
                  >Check back soon for class availability</a
                >
              </div>
            </div>
            <!-- end of card-->
            <div class="card mb-3">
              <h3 class="card-header text-center">
                &Agrave; la carte Training
              </h3>
              <div class="card-body">
                <h5 class="card-title">
                  One-off training sessions to focus on a particular behavior or
                  challenge
                </h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis
                  perferendis quidem, perspiciatis iusto aut ipsa pariatur et,
                  amet, necessitatibus ipsam officia quas dignissimos inventore.
                  Officia, nihil. Aspernatur nulla dolores aliquid.
                </p>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">1/2 hour primary consultation</li>
                  <li class="list-group-item">1 hour long training session</li>
                  <li class="list-group-item">
                    Training steps and material available online
                  </li>
                  <li class="list-group-item text-danger">
                    If you are having "behavioral-issues" with your pet we
                    recommend taking them to a vet prior to attempting to modify
                    behavior with training. Many issues can be linked to
                    underlying health concerns
                  </li>
                </ul>
              </div>
              <div class="card-footer text-muted text-center">
                <a href="alacarte" class="btn btn-primary"
                  >Book an &agrave; la carte session</a
                >
              </div>
            </div>
            <!-- end of card -->
            <div class="card mb-3">
              <h3 class="card-header text-center">Dog Walking</h3>
              <div class="card-body">
                <h5 class="card-title">
                  Get your doggo some exercise during the day
                </h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis
                  perferendis quidem, perspiciatis iusto aut ipsa pariatur et,
                  amet, necessitatibus ipsam officia quas dignissimos inventore.
                  Officia, nihil. Aspernatur nulla dolores aliquid.
                </p>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    A tired dog is a well behaved dog
                  </li>
                  <li class="list-group-item">
                    30 - 60 minute time slots available
                  </li>
                  <li class="list-group-item">
                    Price includes up to 2 dogs from the same household
                  </li>
                  <li class="list-group-item">
                    Jogging excursions available upon request
                  </li>
                </ul>
              </div>
              <div class="card-footer text-muted text-center">
                <a href="dogwalking" class="btn btn-primary"
                  >Check availability</a
                >
              </div>
            </div>
            <!-- end of card -->
          </div>
        </div>
      </div>
    </main>
    <footer class="footer light-blue mt-auto py-3">
      <%- include('../partials/footer') %>
    </footer>
    <%- include('../partials/scripts') %>
  </body>
</html>
